<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Caro</title>
    <meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="/stylesheets/main.css" />
  </head>
  <body>
    <header>
      <nav id="top">
        <div class="new-wrapper">
          <a href="#" class="left">Logo</a>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li id="white"><a href="/users/signup/">Signup</a></li>
            <li><a href="/sessions/login">Login</a></li>
          </ul>
        </div>
      </nav>
    </header>
    <br>
    <br>
    <br>
    <h1>{{title}}</h1>
    <p>Welcome to {{title}}</p>
    <!-- <script src="assets/js/main.js"></script> -->

    <!-- Footer -->
			<footer id="footer">

				<ul class="copyright">
					<li>&copy; 2017 Cars.</li>
				</ul>
			</footer>
			<!-- Footer -->

  </body>
</html>
