body {
  /*background: url("../images/beach.jpg");
  background-position: 80% 42%;
  font-family: 'Cormorant', serif;*/
  text-align: center;
  font-size: 18px;

}
.square {
  margin: auto;
  height: 400px;
  width: 100%;
  border: solid black;
  border-radius: 5px;
  background-color: red;
}

a {
  color: #00B7FF;
}

ol {
  /*display: inline-block;*/
  justify-content: center;
}
.cross {
  display: inline-block;

}

img {
  height: 200px;
  width: 200px;
  border-radius: 5px;
}


.mc-button {
  background-color: #212121;
}

.login-backg {
  background-color: #f4f4f4;
}

.container {
  background-color: white;
}
