body {
  /*background: url("../images/beach.jpg");
  background-position: 80% 42%;
  font-family: 'Cormorant', serif;*/
  text-align: center;
  font-size: 18px;

}
.square {
  margin: auto;
  height: 400px;
  width: 100%;
  border: solid black;
  border-radius: 5px;
  background-color: red;
}

/*#white {
  background-color: white;
}*/

#usern {
  font-size: 1.5em;
  color: white;
}

#post {
  height: 525px;
  width: 650px;
}

#top {
  margin-top: -95px;
  margin-bottom: 125px;
  max-width: 100%;
  max-height: 100%;
  font: white;
  background-color: transparent;
}

#nc {
  background-color: black;
}

a {
  color: #00B7FF;
}

ol {
  /*display: inline-block;*/
  justify-content: center;
}
.cross {
  display: inline-block;

}

img {
  height: 225px;
  width: 265px;
  border-radius: 3px;
}

#red {
  background-color: red;
}

#over {
  margin-left: 10px;
}

.mc-button {
  background-color: #212121;
}

.login-backg {
  background-color: #f4f4f4;
}

.container {

}
