body {
  /*background: url("../images/beach.jpg");
  background-position: 80% 42%;
  font-family: 'Cormorant', serif;*/
  text-align: center;
  font-size: 18px;

}


a {
  color: #00B7FF;
}

nav li {
  display: inline-block;
}

.mc-button {
  background-color: #212121;
}
