<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Login</title>
  </head>
    <body class="login-backg">
      <h3>Login</h3>
        <div class="container ">
          <div class="row">
            <form action="/sessions/login" method="post">
              <div class="col s12">
                <label for="email">email</label>
                <input type="text" name="email">
              </div>
              <div class="col s12">
                <label for="password">password</label>
                <input type="text" name="password">
              </div>
              <div class="col s12">
                <input type="submit" class="btn btn-default" value="Submit">
              </div>
            </form>

            <!-- Card with form -->
            <div class="right-align">
                  <div class="col s12 m10">
                    <div class="card-panel teal">
                      <form action="/sessions/login" method="post">
                      <div class="">
                        <input placeholder="Email" id="email" type="text" class="validate">
                      </div>
                      <div class="">
                        <input placeholder="Password" id="password" type="password" class="validate">
                      </div>
                    </div>
                  </div>
                </div>

    </div>

        <div>
          <a href="/" class="btn btn-default">Back to Home Page</a>
        </div>



  </div>


    <div class="container">

      <div class="center-align">

        <h5>This should be vertically aligned</h5>
        <div class="col s12 m6">
          <div class="card-panel teal">
            <span class="white-text">I am a very simple card. I am good at containing small bits of information.
            I am convenient because I require little markup to use effectively. I am similar to what is called a panel in other frameworks.
            </span>
          </div>
        </div>

        <div class="col s12 m10">
          <div class="card-panel white">
            <form action="/sessions/login" method="post">
            <div class="">
              <input placeholder="Email" id="email" type="text" class="validate">
            </div>
            <div class="">
              <input placeholder="Passwordqsqqqq" id="password" type="password" class="validate">
            </div>
          </form>
          </div>



        </div>
      </div>

      <div class="container">
        <h3>Login</h3>
        <div class="square">
          <form action="/sessions/login" method="post">
            <div class="">
              <input placeholder="Email" id="email" type="text" class="validate">
            </div>
            <div class="">
              <input placeholder="Password" id="password" type="password" class="validate">
            </div>
            <input type="submit" class="btn btn-default" value="Submit">
          </form>

        </div>

      </div>






  </body>
</html>
